---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -readability-identifier-naming

CheckOptions:
  - key: cppcoreguidelines-no-malloc.Allocations
    value: 'true'
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: 'false'

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
...
